[submodule "lib/Adafruit-GFX-Library"]
	path = lib/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit-BusIO.git
[submodule "lib/Adafruit_SH110x"]
	path = lib/Adafruit_SH110x
	url = https://github.com/adafruit/Adafruit-SH110x.git
[submodule "lib/esp-idf"]
	path = lib/esp-if
	url = git@github.com:espressif/esp-idf.git
